span.w { color: var(--c-text--); }
span.t { color: var(--c-t--); }
span.tb { color: var(--c-tb--); }
span.a { color: var(--c-a--); }
span.s { color: var(--c-s--); }
span.b { color: var(--c-b--); }
span.sj { color: var(--c-sj--); }
span.k { color: var(--c-k--); }
span.kj { color: var(--c-kj--); }
span.c { color: var(--c-c--); }
span.vc { color: var(--c-vc--); }
span.vl { color: var(--c-vl--); }
span.n { color: var(--c-n--); }
span.f { color: var(--c-f--); }
span.m { color: var(--c-m--); }
span.ct { color: var(--c-ct--); }
span.cp { color: var(--c-cp--); }
span.cs { color: var(--c-cs--); }
span.cn { color: var(--c-cn--); }
span.ck { color: var(--c-ck--); }
span.ck2 { color: var(--c-ck2--); }
span.ca { color: var(--c-ca--); }